*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    width: 1000%;
    height: 100vh;
    background-image: url(house-near-the-road-vector-20070340.jpg);
    background-position: center;
    animation: driving 10s linear infinite;
}

.cobalt{
    position: absolute;
    max-width: 600px; 
    left: 100px;
    bottom: 100px;
}

@keyframes driving {
    from{ background-position: bottom right;}

    to{ background-position: bottom left;}
}